/* general css */
  * {
    height: auto;
    width:auto ;
    position: relative;
    color: white;
    font-family: 'Robo Mono', monospace;
    vertical-align: middle;
  }
  #style-remove{
    background-color: white
  }
  #boxArt{
    
    top:0rem;
    height: auto;
    vertical-align: middle;
  }
  .section-exp{
    text-align: center;
  }
  .button{
    z-index: 100;
  }

  html{
    height: 100%;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  div{
    vertical-align: middle;
  }
  .App {
    margin-top: 0rem;
    text-align: center;
    background-color: black;
  }
  .image-wrapper{
    vertical-align: middle;
    height: 100%;
    width: 15rem;
    margin: 0 25% 0 25%; 
  }
  .user-pic {
    height: 5rem;
    float: right;
    border-radius: 3rem;
    background-color: white;
  }
  .user-pic-custom{
    max-height: 5rem;
    max-width: 5rem;
    float: right;
    border-radius: 3rem;
    margin-top: .2rem;
    background-color: white;
  }
  .App-header {
    margin-top: 0;
    margin-bottom: 0rem;
    background-color: #222;
    height: 6.5rem;
    padding: 1rem;
    color: white;
    
  }
  #navigation{
    float: left;
  }
  .App-title {
    margin-top: 1rem;
    float: left;
    font-size: 1.5em;
    background-color:#222; 
    left:10rem;
  }
  .App-intro {
    font-size: large;
  }

  .App-Footer{
    background: gray;
    color: white;
    position: relative;
    bottom: -1.4rem;
    margin-bottom: 0;
  }
  .body{
    height: 100%;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
  }
/* game css */
  div .List-of-Three .container {
    margin: 0 0 0 0;
  }
  div #dontTestMeCss{
    width: 100%;
    margin-left:0;
    margin-right:0;
    background: gray; 
    vertical-align: middle;
  }
  .container{
    width:100%;
    
    margin-left: 0rem;
    margin-right: 0;
    vertical-align: middle;
  }
  .Current-Games{
    position: relative;
    background: gray;
    text-align: center;
    height: 25rem;
    vertical-align: middle;
  }
  .CurrentGames {
    text-align: center;
    background: gray;
    position: relative;
    height: 20rem;
    width: 100%;
    vertical-align: middle;
  }

  .col img{
    max-height: 24rem;
    max-width: 15rem;
    vertical-align: middle;
  }
  .game-art{
    height:100%;
    width: 50%;
    vertical-align: middle;
  }
  .row{
    width: 100%;
    vertical-align: middle;
  }
  .col button{
    position: relative;
    width:3rem;
    top:0rem;
    margin-top: 0;
    z-index: 1;
    background: transparent;
    border: none;
  }
  #modal-button {
    height:2rem;
    width:15rem;
    bottom:100rem;
    left: 1.7rem;
    border-radius:0;
    margin-top: 0;
    z-index: 1;
    background: whitesmoke;
  }
  #modal-console-button {
    height:2rem;
    width:15rem;
    bottom:100rem;
    
    border-radius:0;
    margin-top: 0;
    z-index: 1;
    background: whitesmoke;
  }
  #modal-button:hover{
    background: floralwhite;
  }
  .col button img{
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
  } 
  .game-placeholder{
    vertical-align: middle;
  }

/* console css */
  #consoleArt{
    max-width: 12rem;
    max-height: 12rem;
  }
  #consoleContainer{
    width: 100%;
    height: auto;
    background: gray;
    vertical-align: middle;
  }
  .Owned-Consoles{
    height: 22rem;
  }
  .SystemList{
    margin-bottom: 1rem;
    height: 5rem;
  }
  .SystemList .row{
    height: 3rem;
    margin-bottom: 0rem;
  }
  .Collapsable-Nav{
    position: fixed;
    z-index: 10;
    margin-top: 0rem;
    margin-bottom: 0rem;
    width:1rem ;
    height:2rem ;
    top: 0;
    left: 0;
  }
  .triline{
    margin-top:.2rem;
    margin-bottom: .2rem;
    height:.2rem;
    width:1rem;
    background: black
  }
  .CollapsableNav{
    float: left;
    width: 20rem;
    padding: 1px;
    z-index: 100;
  }
  .center-this{
    position: relative;
    text-align: center;
    display: inline-block;
  }
  .login-signup li{
    display: inline-block;
    margin-right: 2rem;
    max-width: 5rem;
  }
  .dropdown-item{
    text-align: center;
  }
  button .btn .btn-secondary{
    border: none;
  }

  .Su-Label{
    z-index: 100;
    color: black;
  }
  .input-align{
    float: left;
    width: 100%;
  }
  .email-label{
    padding-left:.4rem;
  }

   .hide{
    display: none;
  }
  .padding-0{
    text-align: center;
    padding-right:0;
    padding-left:0;
  }

  .Paint-it-Black{
    color: black;
  }
  .col{
    vertical-align: middle;
  }
  .console-placeholder{
    vertical-align: middle;
  }
/* the rest of the css */
