/* General CSS (app stuff and element selectors */
  * {
    height: auto;
    width:auto ;
    position: relative;
    color: white;
    font-family: 'Robo Mono', monospace;
    
  }
  html{
    height: 100%;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  .App {
    margin-top: 0rem;
    text-align: center;
    background-color: black;
  }

  .user-pic {
    height: 5rem;
    float: right;
    border-radius: 3rem;
    background-color: white;
  }
  .user-pic-custom{
    height: 5rem;
    float: right;
    border-radius: 3rem;
    margin-top: .2rem;
    background-color: white;
  }
  .App-header {
    margin-top: 0;
    margin-bottom: 0rem;
    background-color: #222;
    height: 6.5rem;
    padding: 1rem;
    color: white;
    
  }

  .App-title {
    margin-top: 1rem;
    float: left;
    font-size: 1.5em;
    background-color:#222; 
    left:10rem;
  }
  .App-intro {
    font-size: large;
  }

  .App-Footer{
    background: gray;
    color: white;
    position: relative;
    bottom: -1.4rem;
    margin-bottom: 0;
  }
  .body{
    height: 100%;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
  }
/* Game Css */
  .Current-Games{
    position: relative;
    background: gray;
    text-align: center;
    height: 23rem;

  }
  .CurrentGames {
    text-align: center;
    background: gray;
    position: relative;
    height: 20rem;
    width: 100%;
  }
  .game-placeHolder{
    height:15rem;
    width: 10rem;
    background-color: black;
    margin: 1.5rem;
  }
  .game-art{
    height:100%;
    width: 50%;
  }
  .row{
    width: 100%
  }
  .col button{
    width:100%;
    margin-top: 0;
  }
  .col button img{
    width: 1rem;
    height: 1rem;
  } 
/* Console CSS */
  .Owned-Consoles{
    height: 22rem;
  }
  .SystemList{
    margin-bottom: 1rem;
    height: 5rem;
  }
  .SystemList .row{
    height: 3rem;
    margin-bottom: 0rem;
  }
  
/* Nav(account alterations) */
  .Collapsable-Nav{
    position: fixed;
    z-index: 10;
    margin-top: 0rem;
    margin-bottom: 0rem;
    width:1rem ;
    height:2rem ;
    top: 0;
    left: 0;
  }
  .triline{
    margin-top:.2rem;
    margin-bottom: .2rem;
    height:.2rem;
    width:1rem;
    background: black
  }
  .CollapsableNav{
    width: 20rem;
    padding: 1px;
  }
  .center-this{
    position: relative;
    text-align: center;
    display: inline-block;
  }
  .login-signup li{
    display: inline-block;
    margin-right: 2rem;
    max-width: 5rem;
  }
  .dropdown-item{
    text-align: center;
  }
  button .btn .btn-secondary{
    border: none;
  }
/* Sign-up/Login modals */
  .Su-Label{
    z-index: 100;
    color: black;
  }
  .input-align{
    float: left;
    width: 100%;
  }
  .email-label{
    padding-left:.4rem;
  }
/* General Use Classes */
   .hide{
    display: none;
  }
  .padding-0{
    text-align: center;
    padding-right:0;
    padding-left:0;
  }
  .modal{
    z-index: 1000000000000000;
  }
  .Paint-it-Black{
    color: black;
  }